#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.tablerow {
  font-weight: bolder;
  background-color: #888;
  border: 0.2rem solid rgb(229, 222, 222);
}

.tablerow:hover {
  background-color: blue;
  cursor: pointer;
  border: 0.2rem solid red;
}
